<header>
  <h1 class="">{{title}}</h1>
</header>
<form action="/search" method="post"> 
  <label>Search For A new </label>
  <input type="text" name="query" required value ="" placeholder="search for new"/>
  <button type="submit" > search </button>
</form>