{{> header }}
<form class= "search"> 
  <label>Search For A new </label>
  <input class= "search__input" type="text" name="query" required value ="" placeholder="search for new"/>
  <button class="search__btn" type="submit"> search </button>
</form>

