<header>
  <h1 class="">{{title}}</h1>
</header>
<form class= "search" action="/search" method="POST"> 
  <label>Search For A new </label>
  <input class= "search__input" type="text" name="query" required value ="" placeholder="search for new"/>
  <button class="search__btn" type="submit"> search </button>
</form>